<header class="header">
	<div class="header__container container">
		<div class="header__body">
			<div class="header__content content">
				<button class="header__button-general-info header__button--current" #buttonGeneralInfo (click)="currentButton(buttonGeneralInfo)">General info</button>
				<button class="header__button-income" #buttonIncome (click)="currentButton(buttonIncome)">Income</button>
				<button class="header__button-expenses" #buttonExpenses (click)="currentButton(buttonExpenses)">Expenses</button>
				<button class="header__button-savings" #buttonSavings (click)="currentButton(buttonSavings)">Savings</button>
			</div>
		</div>
	</div>
</header>